.nav-bar{
  padding: 15px 0;
}

.nav-bar input {
  width: 75%;
  height: 40px;
  padding: 0 15px;
  font-size: 20px;
  border-radius: 100px;
  outline: none;
  border: none;
  border: 1px solid lightgray;
}

.nav-bar button{
  background: transparent;
  outline: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 22px;
  margin-left: -44px;
  transition: color 0.2s ease;
}

.nav-bar button:hover {
  color: #42A5F5;
}

.starwars-char-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.no-results {
  color: lightgray;
  font-weight: normal;
  font-size: 45px;
}

.starwars-char-cont {
  /* border: 1px solid gray; */
  box-shadow: 0 0 5px rgb(155, 155, 155);
  top: 0px;
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  width: 30%;
  max-width: 300px;
  transition: box-shadow 0.2s ease, top 0.2s ease;
  cursor: pointer;
  background: white;
}

.starwars-char-cont:hover {
  box-shadow: 0 0 15px rgb(155, 155, 155);
  top: -10px;
  z-index: 2;
}

.date-added {
  font-size: 12px;
  color: gray;
  margin: 0px;
}

.starwars-char-icon {
  background: #90CAF9;
  color: white;
  font-size: 124px;
  padding: 32px 40px; 
  border-radius: 100px;
  margin-top: 40px;
}

.starwars-char-name {
  margin: 0px;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.info-cont {
  margin-top: 20px;
}

.info-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 6px 0;
}

.last-block {
  border-bottom: none;
}

.info-block p {
  margin: 0px;
}