.starwars-char-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.starwars-char-cont {
  background: blue;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  border-radius: 6px;
}

.starwars-char-name {
  margin: 0px;
}

.starwars-char-born {
  margin: 0px;
}